<style>
    .main-header{
        display: flex;
        flex-direction: column;
        background-color: #888888;
        color: #fff;
        padding: 5%;
    }
    .main-header span:nth-child(1){
        font-size: 5rem;
        font-weight: bold;
    }
</style>

<div class="main-header">
    <span>HN Feed</span>
    <span>We <3 hacker news!</span>
</div>