<div class="table-wraper">
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let item of all_post">
                <td><a [href]="item.story_url" target="_blank">{{ item.story_title }}</a></td>
                <td>{{ item.created_at | date:'yyyy-MM-dd HH:mm a'}}</td>
                <td><span (click)="delete_item(item)" class="glyphicon glyphicon-trash"></span></td>
            </tr>
        </tbody>
    </table>
</div>